/* apply styles to overide browser default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* apply styles to <p> */
.trainer-bio p {
    font-size: 17px;
}

/* Generic Text Align Style (l) */
.text-left {
    text-align: left;
}

/* Generic Text Align Style (r) */
.text-right {
    text-align: right;
}

/* apply styles to <header> */
header {
    padding: 20px 35px;
    background-color: #39a2b6;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    }

/* apply styles to <section> */
section {
    padding: 60px;
}

/* apply styles to <h1> */
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0; 
}

/* apply styles to <a> */
header a {
    text-decoration: none;
    color: #fce138;
}

/* apply styles to <nav> */
header nav {
    margin: 7px 0;
}

/* apply styles to <li> */
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

/* apply styles to <a> within <nav> */
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}
/* Header Styles END */

/* Hero Style Start */
.hero {
    background-image: url("../images/hero-bg.jpg");
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

/* apply styles to (hero-cta) */
.hero-cta {
    width: 35%;
    text-align: right;
    margin: 3.5%;
    color: #fff;
    font-size: 18px;
    line-height: 1.2;
}

/* apply styles to h2 within hero-cta */
.hero-cta h2 {
    font-style: italic;
    font-size: 55px;
    color: #fce138;
}

/* apply styles to hero-form */
.hero-form {
    border: solid 3px #024e76;
    background-color: #fce138;
    padding: 20px;
    width: 40%; 
    color: #024e76;
    position: absolute;
    bottom: 120px;
    right: 140px;
    margin: 3.5%;
}

/* apply styles to <h3> */
.hero-form h3 {
    font-size: 24px;
    margin: 0;
}

/* apply styles to <p> within .hero-form class */
.hero-form p {
    margin: 5px 0 15px 0;
}

/* apply styles to <input> element */
.form-input {
    border: 1px solid #024e76;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #024e76;
    width: 100%;
    margin-bottom: 15px;
}

/* apply styles to <label> */
.hero-form label {
    margin: 0 5px;
}

/* apply styles to <button> */
.hero-form button {
    color: #fce138;
    background-color: #024e76;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
}
/* Hero Style End */

/* What "" Do Start */

/* apply styles to <p> */
.intro p {
    line-height: 1.7;
    color: #39a6b2;
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
}
/* apply styles to <h2> */
.section-title {
    font-size: 48px;
    color: #024e76;
    border-bottom: 3px solid;
}
.primary-border {
    border-color: #fce138;
}
.secondary-border {
    border-color: #39a2b6;
}

/*what we do styles */
.steps {
    background: #fce138;
}

/* apply style to .step */
.step {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    border-bottom: 1px solid #39a6b2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

/* apply styles to <h3> */
.step h3 {
    color: #024e76;
    font-size: 46px;
    flex: 1 30%;
}

/* apply style to .step-img */
.step-img {
    flex: 1 12%;
    margin-right: 20px;
}

/* apply style to .step-info */
.step-info {
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

/* apply styles to <p> */
.step-text p {
    color: #39a6b2;
    font-size: 18px;
}

/* apply styles ti .step-text */
.step-text {
    flex: 12;
}

/* apply style to img within .step-img */
.step-img img {
    max-width: 100%;
}

/* apply style to h4 */
.step-text h4 {
    font-size: 26px;
    line-height: 1.5;
    color: #024e76;
}

/* What "" do End */

/* Trainer Styles Start */
.trainers {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
/* apply styles to .trainer <article> */
.trainer {
    margin: 20px;
    background: #024e76;
    color: #fce138;
    flex: 1;
}
/* apply styles to <img> */
.trainer img {
    width: 100%;
}
/* apply styles .trainer-bio */
.trainer-bio {
    padding: 25px;
     line-height: 1.3;
}
/* apply style to <h3> */
.trainer-bio h3 {
    font-size: 28px;
}
/* apply styles to <h4> */
.trainer-bio h4 {
    font-weight: lighter;
    font-size: 22px;
    margin-bottom: 15px;
}
/* Trainer Styles End */

/* Reach Out Styles Start */
.contact {
    background: #024e76;
}

/* apply style to .contact-info */
.contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* apply style to contact info general */
.contact-info > * {
    flex: 1;
    margin: 15px;
}
/* apply h2 styles */
.contact h2 {
    color: #fce138;
}

/* apply styles to iframe */
.contact-info iframe {
    height: 400px;
}

/* apply div styles */
.contact-info div {
    color: white;
}

/* apply section title styles */
.section-title {
    font-size: 55px;
    border-bottom: 3px solid;
    padding-bottom: 20px;
    text-align: center;
    color: #024e76;
    margin: 0 auto 35px auto;
    width: 50%;
}

/* apply h3 styles */
.contact-info h3 {
    color:#fce138;
    font-size: 32px;
}

/* apply address styles */
.contact-info p, .contact-info address {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 16px;
    font-style: normal;
}

/* apply a styles */
.contact-info a {
    color:#fce138
}

/* styles for contact-info/form text area */
.contact-info input, .contact-form textarea {
    border: 1px solid #024e76;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #024e76;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
}

/* apply style to .contact-form buttom */
.contact-form button {
    width: 100%;
    border: none;
    background: #fce138;
    color: #024e76;
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
}

/* Reach Out Styles End */

/* Footer Styles Start*/
footer {
    background: #fce138;
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* apply styles to <h2> */
footer h2 {
    color: #024e76;
    font-size: 30px;
    margin: 0;
}

/* apply styles to <div> within <footer> */
footer div {
    line-height: 1.5;
    text-align: right;
}

/* apply style to <a> within <footer> */
footer a {
    color: #024e76;
}
/* Footer Styles END */

/* apply style to .flex-row */
.flex-row {
    display:flex;
}

/* Media Queries for Smaller Desktop Screens and Below */
@media screen and (max-width:980px) {

}

/* Media Queries for Tablets and Smaller */
@media screen and (max-width: 768px) {
   
}

/* Media Queries for Mobile Phones and Smaller */
@media screen and (max-width: 575px) {
  
}